@font-face {
   font-family: Noto Serif;
   src: url('../fonts/Noto Serif/NotoSerif-VariableFont_wdth,wght.ttf');
}

@font-face {
   font-family: Itim;
   src: url('../fonts/Itim/Itim-Regular.ttf');
}


@font-face {
   font-family: "bootstrap-icons";
   src: url("../fonts/bootstrap-icons.woff2") format("woff2"),
      url("../fonts/bootstrap-icons.woff") format("woff");
   font-weight: normal;
   font-style: normal;
}